html { 
    background: url(https://vignette.wikia.nocookie.net/legendsofthemultiuniverse/images/4/43/63-Abra.png/revision/latest?cb=20190209191555) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: plum;
  }
h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 50px;
    text-emphasis: bold;
}

p{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 30px;
    background-color: white;
    opacity: 0.5;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

